#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 200px;
}

#logo{
  font-family: "Lora", serif;
  font-weight: 100;
  font-size: 42px;
  color: #734060;
}

.nav-logo{
  text-decoration: none;
}

#of{
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 60px;
  color: #979797;
}

#nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    position: relative;
}

.nav-link{
  font-size: 17px;
  color: #000;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

#search{
    font-size: 19px;
    color: #734060;
    cursor: pointer;
}

#searchInput{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  outline: none;
  width: 400px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 18px;
  width: 0;
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease;
  z-index: 5;
}

#searchInput.applySearch{
  width: 500px;
  opacity: 1;
  margin-left: 10px;
}