#post-img img{
    height: 240px;
    width: 240px;
    background-color: #fff;
    opacity: 1;
    transition: opacity 0.1s ease;
    cursor: pointer;
}

#post-img img:hover{
    opacity: 0.7;
}

#post{
    display: flex;
    gap: 20px;
}

#post-details{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#post-details h4{
    color: #808080;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

#post-details h1{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    white-space: nowrap;
    cursor: pointer;
    transition: text-decoration 0.2s ease;
}
#post-details h1:hover{
    text-decoration: underline;
}

#post-details p{
    font-family: 'Bitter', serif;
    font-size: 16px;
    line-height: 24px;
    color: #434343;
}

#post-details h3{
    font-size: 16px;
    color: #EBB454;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: color 0.1s ease;
}

#post-details h3:hover{
    color: #000;
}